header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("../img/lighter-bg.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  color:black;
  font-family: 'Dela Gothic One', cursive;
}

.container {
  padding: 1em;
}

#results {
  height: 30vh;
  width: 100vw;
  padding: 1em;
  background-color: burlywood;
}

#more-info {
  background-color: burlywood;
}

#final-results {
  display: none;
}

.links {
  display: flex;
  flex-direction: column;
}